@mixin respond($breakpoint) {
  @if $breakpoint == xs-phone {
    @media only screen and (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == s-phone {
    @media only screen and (max-width: 23.4375em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 26.5625em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 31em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (min-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 160em) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: poppins, Arial, Helvetica, sans-serif;
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tablet) {
    font-size: 50%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(laptop) {
    font-size: 62.5%;
  }
  @include respond(desktop) {
    font-size: 94%;
  }
  @include respond(big-desktop) {
    font-size: 99%;
  }
}
body {
  background-color: #f6f6f6;
}
@mixin social-handles {
  cursor: pointer;
  height: 3.6rem;
  fill: rgba(0, 0, 0, 0.39);
  transition: all 1s;

  &:hover {
    fill: rgba(0, 0, 0, 1);
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@mixin buttons {
  width: 13rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: width 0.4s;
  &:hover {
    width: 14rem;
    @include respond(s-phone) {
      width: 12rem;
    }
    @include respond(xs-phone) {
      width: 12rem;
    }
  }
  @include respond(s-phone) {
    width: 12rem;
    height: 3.4rem;
  }
  @include respond(xs-phone) {
    width: 12rem;
    height: 3.4rem;
  }
}
@keyframes sliderTab {
  0% {
    width: 0%;
  }
  10% {
    width: 15%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 2.5rem;
  }
}
