.header {
  width: 100%;
  height: 100vh;
  padding: 1rem 4.5rem;

  @include respond(tab-land) {
    padding: 0;
    height: 115vh;
  }
  @include respond(tablet) {
    padding: 0;
    height: 160vh;
  }
  @include respond(tab-port) {
    padding: 0;
    height: 160vh;
  }
  @include respond(s-phone) {
    padding: 0;
    height: 130vh;
  }
  @include respond(xs-phone) {
    padding: 0;
    height: 145vh;
  }
}

.nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  @include respond(tab-land) {
    width: 100%;
    height: 7.2rem;
    padding: 2rem;
  }
  @include respond(tablet) {
    width: 100%;
    height: 7rem;
    padding: 0 4rem;
    background-color: #c7a92d;
  }
  @include respond(tab-port) {
    width: 100%;
    height: 7rem;
    padding: 0 5rem;
    background-color: #c7a92d;
  }
  @include respond(s-phone) {
    width: 100%;
    height: 6.5rem;
    padding: 0 4rem;
    background-color: #c7a92d;
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 6.5rem;
    padding: 0 1rem;
    background-color: #c7a92d;
  }
  //LOGO
  &__logo {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
  }
  //NAV LINKS
  &__links {
    width: 50rem;
    height: 4rem;
    font-size: 1.1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-land) {
      display: flex;
    }
    @include respond(tablet) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
    @include respond(s-phone) {
      display: none;
    }
    @include respond(xs-phone) {
      display: none;
    }
  }
  //NAV ITEM
  &__item {
    list-style-type: none;
    transition: ease-in-out 0.4s;
    &:hover:not(:last-child) {
      &::before {
        display: block;
        content: "";
        background-color: black;
        width: 2.5rem;
        height: 0.3rem;
        transition: animation 0.4s;
        animation: sliderTab 0.4s 1;
      }
    }
  }
  //NAV LINK
  &__link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    //THE CONTACT BUTTON
    &--contact {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1rem;
    }
  }
}
//THE CONTACT BUTTON NAV__ITEM
#contactBtn {
  width: 10rem;
  height: 3.5rem;
  padding: 0.9rem 0;
  border-radius: 5rem;
  background-color: black;
  text-align: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
//THE HEADER BODY
.header__body {
  width: 100%;
  height: 55rem;
  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
  padding: 0 7rem;
  @include respond(tab-land) {
    width: 100%;
    height: 100vh;
    margin: 3rem 0 0 0;
    padding: 0 3rem;
  }
  @include respond(tablet) {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
  @include respond(tab-port) {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
  @include respond(s-phone) {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
  @include respond(xs-phone) {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
  &--socials {
    flex: 0 0 2%;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-land) {
      display: flex;
    }
    @include respond(tablet) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
    @include respond(s-phone) {
      display: none;
    }
    @include respond(xs-phone) {
      display: none;
    }
  }
}
#twitter {
  width: 2rem;
  @include social-handles;
}
#instagram {
  width: 1.5rem;
  @include social-handles;
}
#facebook {
  width: 2.5rem;
  @include social-handles;
}
.header__body--description {
  flex: 0 0 40%;
  width: 100%;
  height: 30rem;
  margin: 0 3rem 0 14rem;
  position: relative;
  @include respond(tab-land) {
    margin: 3rem 1rem 0 12rem;
  }
  @include respond(tablet) {
    margin: 0.1rem;
    flex: 0 0 50%;
    order: 5;
  }
  @include respond(tab-port) {
    margin: 0.1rem;
    flex: 0 0 50%;
    order: 5;
  }
  @include respond(s-phone) {
    margin: 0.1rem;
    flex: 0 0 50%;
    order: 5;
  }
  @include respond(xs-phone) {
    margin: 0.1rem;
    flex: 0 0 50%;
    // background-color: crimson;
    order: 5;
  }
}
.first-description {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  @include respond(tab-land) {
    display: flex;
  }
  @include respond(tablet) {
    padding: 0 0 0 7rem;
  }
  @include respond(tab-port) {
    padding: 0 0 0 8rem;
  }
  @include respond(s-phone) {
    padding: 0 0 0 5rem;
  }
  @include respond(xs-phone) {
    padding: 0 2rem;
  }
}
.horizontal-line {
  width: 6rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}
.est-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  @include respond(tab-land) {
    font-size: 1rem;
  }
  @include respond(tablet) {
    font-size: 1.2rem;
  }
  @include respond(tab-port) {
    font-size: 1.2rem;
  }
  @include respond(s-phone) {
    font-size: 1.2rem;
  }
  @include respond(xs-phone) {
    font-size: 1.2rem;
  }
}
.title {
  font-size: 4.8rem;
  width: 100%;
  height: 8rem;
  @include respond(tab-land) {
    font-size: 3.7rem;
    height: 6.7rem;
  }
  @include respond(tablet) {
    font-size: 4.5rem;
    text-align: start;
    padding: 0 7rem;
  }
  @include respond(tab-port) {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
  @include respond(s-phone) {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
  @include respond(xs-phone) {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
}
.third-description {
  width: 38rem;
  padding: 0 0 5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  @include respond(tab-land) {
    width: 30rem;
    // background-color: crimson;
    font-size: 1.4rem;
  }
  @include respond(tablet) {
    width: 38rem;
    text-align: start;
    margin: 0 auto;
  }
  @include respond(tab-port) {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
  @include respond(s-phone) {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
  @include respond(xs-phone) {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
}
.buttons {
  //   background-color: coral;
  width: 30rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond(tab-land) {
    width: 23rem;
  }
  @include respond(tablet) {
    margin: 0 7rem;
    width: 30rem;
  }
  @include respond(tab-port) {
    margin: 0 auto;
    width: 30rem;
  }
  @include respond(s-phone) {
    margin: 0 auto;
    width: 30rem;
  }
  @include respond(xs-phone) {
    margin: 0 auto;
    width: 26rem;
  }
}
.order {
  @include buttons;
  background-color: #c7a92d;
  &:active {
    background-color: rgba(199, 169, 45, 0.5);
  }
}
.products {
  @include buttons;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1.18rem;
  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.product__image--1 {
  width: 22rem;
  margin-right: 13rem;
  @include respond(tab-land) {
    width: 18rem;
    margin-right: 1rem;
  }
  @include respond(tablet) {
    width: 21rem;
    margin-right: 1rem;
  }
  @include respond(tab-port) {
    width: 21rem;
    margin-right: 1rem;
  }
  @include respond(s-phone) {
    width: 20rem;
    margin-right: 10rem;
  }
  @include respond(xs-phone) {
    width: 18rem;
    margin-right: 1rem;
  }
}
.additional__text--1 {
  width: 9rem;
  @include respond(tablet) {
    position: absolute;
    top: 18%;
    left: 65%;
  }
  @include respond(tab-port) {
    position: absolute;
    top: 16%;
    left: 65%;
  }
  @include respond(s-phone) {
    position: absolute;
    top: 7%;
    left: 60%;
  }
  @include respond(xs-phone) {
    position: absolute;
    top: 7%;
    left: 60%;
  }
}
.scrollbar {
  background-color: white;
  z-index: 10000;
  display: flex;
  position: fixed;
  top: 0;
}
.reveal {
  display: none;
}
.fa-bars {
  font-size: 2rem;
  margin-left: 0.7rem;
}
.burger_icon {
  display: none;
  @include respond(tablet) {
    display: inline;
  }
  @include respond(tab-port) {
    display: inline;
  }
  @include respond(s-phone) {
    display: inline;
  }
  @include respond(xs-phone) {
    display: inline;
  }
}
