.order__popup {
  width: 34rem;
  height: 31rem;
  background-color: lightgray;
  position: absolute;
  top: 3%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  display: none;
  &--title {
    font-size: 1.3rem;
    font-weight: 600;
    height: 4rem;
    padding: 1rem 1rem 0 7rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &--form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.ordertype {
  margin-bottom: 0.6rem;
  height: 3rem;
  width: 20rem;
  border-radius: 2px;
  border: none;
  padding: 0 0.8rem;
}
#actualorder {
  width: 20rem;
  resize: none;
  border-radius: 2px;
  border: none;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}

.ordertype:active,
.ordertype:focus,
#actualorder:active,
#actualorder:focus {
  outline: 2px solid gold;
}
.popup__submit {
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  background-color: #c7a92d;
  cursor: pointer;
}
.fa-times-circle {
  font-size: 1.9rem;
  color: rgb(252, 48, 48);
  cursor: pointer;
}
