*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 26.5625em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 94%;
  }
}

@media only screen and (min-width: 160em) {
  html {
    font-size: 99%;
  }
}

body {
  background-color: #f6f6f6;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes sliderTab {
  0% {
    width: 0%;
  }
  10% {
    width: 15%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 2.5rem;
  }
}

@keyframes sliderTab {
  0% {
    width: 0%;
  }
  10% {
    width: 15%;
  }
  50% {
    width: 40%;
  }
  100% {
    width: 2.5rem;
  }
}

.header {
  width: 100%;
  height: 100vh;
  padding: 1rem 4.5rem;
}

@media only screen and (max-width: 48em) {
  .header {
    padding: 0;
    height: 115vh;
  }
}

@media only screen and (max-width: 31em) {
  .header {
    padding: 0;
    height: 160vh;
  }
}

@media only screen and (max-width: 26.5625em) {
  .header {
    padding: 0;
    height: 160vh;
  }
}

@media only screen and (max-width: 23.4375em) {
  .header {
    padding: 0;
    height: 150vh;
  }
}

@media only screen and (max-width: 20em) {
  .header {
    padding: 0;
    height: 145vh;
  }
}

.nav {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
}

@media only screen and (max-width: 48em) {
  .nav {
    width: 100%;
    height: 7.2rem;
    padding: 2rem;
  }
}

@media only screen and (max-width: 31em) {
  .nav {
    width: 100%;
    height: 7rem;
    padding: 0 4rem;
    background-color: #c7a92d;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav {
    width: 100%;
    height: 7rem;
    padding: 0 5rem;
    background-color: #c7a92d;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav {
    width: 100%;
    height: 6.5rem;
    padding: 0 4rem;
    background-color: #c7a92d;
  }
}

@media only screen and (max-width: 20em) {
  .nav {
    width: 100%;
    height: 6.5rem;
    padding: 0 1rem;
    background-color: #c7a92d;
  }
}

.nav__logo {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.nav__links {
  width: 50rem;
  height: 4rem;
  font-size: 1.1rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 31em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 26.5625em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .nav__links {
    display: none;
  }
}

.nav__item {
  list-style-type: none;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.nav__item:hover:not(:last-child)::before {
  display: block;
  content: "";
  background-color: #f7d23e;
  width: 2.5rem;
  height: 0.3rem;
  -webkit-transition: -webkit-animation 0.4s;
  transition: -webkit-animation 0.4s;
  transition: animation 0.4s;
  transition: animation 0.4s, -webkit-animation 0.4s;
  -webkit-animation: sliderTab 0.4s 1;
          animation: sliderTab 0.4s 1;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.nav__link--contact {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

#contactBtn {
  width: 10rem;
  height: 3.5rem;
  padding: 0.9rem 0;
  border-radius: 5rem;
  background-color: black;
  text-align: center;
}

#contactBtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__body {
  width: 100%;
  height: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 0 0;
  padding: 0 7rem;
}

@media only screen and (max-width: 48em) {
  .header__body {
    width: 100%;
    height: 100vh;
    margin: 3rem 0 0 0;
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 31em) {
  .header__body {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
}

@media only screen and (max-width: 26.5625em) {
  .header__body {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
}

@media only screen and (max-width: 23.4375em) {
  .header__body {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
}

@media only screen and (max-width: 20em) {
  .header__body {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5rem 0 0 0;
    padding: 0 1.5rem;
    position: relative;
  }
}

.header__body--socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2%;
          flex: 0 0 2%;
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .header__body--socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 31em) {
  .header__body--socials {
    display: none;
  }
}

@media only screen and (max-width: 26.5625em) {
  .header__body--socials {
    display: none;
  }
}

@media only screen and (max-width: 23.4375em) {
  .header__body--socials {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .header__body--socials {
    display: none;
  }
}

#twitter {
  width: 2rem;
  cursor: pointer;
  height: 3.6rem;
  fill: rgba(0, 0, 0, 0.39);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#twitter:hover {
  fill: black;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#instagram {
  width: 1.5rem;
  cursor: pointer;
  height: 3.6rem;
  fill: rgba(0, 0, 0, 0.39);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#instagram:hover {
  fill: black;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#facebook {
  width: 2.5rem;
  cursor: pointer;
  height: 3.6rem;
  fill: rgba(0, 0, 0, 0.39);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#facebook:hover {
  fill: black;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header__body--description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  height: 30rem;
  margin: 0 3rem 0 14rem;
}

@media only screen and (max-width: 48em) {
  .header__body--description {
    margin: 3rem 1rem 0 12rem;
  }
}

@media only screen and (max-width: 31em) {
  .header__body--description {
    margin: 0.1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media only screen and (max-width: 26.5625em) {
  .header__body--description {
    margin: 0.1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media only screen and (max-width: 23.4375em) {
  .header__body--description {
    margin: 0.1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media only screen and (max-width: 20em) {
  .header__body--description {
    margin: 0.1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.first-description {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48em) {
  .first-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 31em) {
  .first-description {
    padding: 0 0 0 7rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .first-description {
    padding: 0 0 0 8rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .first-description {
    padding: 0 0 0 5rem;
  }
}

@media only screen and (max-width: 20em) {
  .first-description {
    padding: 0 2rem;
  }
}

.horizontal-line {
  width: 6rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}

.est-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 48em) {
  .est-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 31em) {
  .est-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .est-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .est-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 20em) {
  .est-text {
    font-size: 1.2rem;
  }
}

.title {
  font-size: 4.8rem;
  width: 100%;
  height: 8rem;
}

@media only screen and (max-width: 48em) {
  .title {
    font-size: 3.7rem;
    height: 6.7rem;
  }
}

@media only screen and (max-width: 31em) {
  .title {
    font-size: 4.5rem;
    text-align: start;
    padding: 0 7rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .title {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width: 23.4375em) {
  .title {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
}

@media only screen and (max-width: 20em) {
  .title {
    font-size: 4.3rem;
    text-align: center;
    padding: 0;
  }
}

.third-description {
  width: 38rem;
  padding: 0 0 5rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 48em) {
  .third-description {
    width: 30rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 31em) {
  .third-description {
    width: 38rem;
    text-align: start;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  .third-description {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 23.4375em) {
  .third-description {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 20em) {
  .third-description {
    width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
}

.buttons {
  width: 30rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 48em) {
  .buttons {
    width: 23rem;
  }
}

@media only screen and (max-width: 31em) {
  .buttons {
    margin: 0 7rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .buttons {
    margin: 0 auto;
    width: 30rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .buttons {
    margin: 0 auto;
    width: 30rem;
  }
}

@media only screen and (max-width: 20em) {
  .buttons {
    margin: 0 auto;
    width: 26rem;
  }
}

.order {
  width: 13rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  background-color: #c7a92d;
}

.order:hover {
  width: 14rem;
}

@media only screen and (max-width: 23.4375em) {
  .order:hover {
    width: 12rem;
  }
}

@media only screen and (max-width: 20em) {
  .order:hover {
    width: 12rem;
  }
}

@media only screen and (max-width: 48em) {
  .order {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.07rem;
  }
}

@media only screen and (max-width: 31em) {
  .order {
    width: 13rem;
    height: 4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .order {
    width: 13rem;
    height: 4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .order {
    width: 12rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 20em) {
  .order {
    width: 12rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }
}

.order:active {
  background-color: rgba(199, 169, 45, 0.5);
}

.products {
  width: 13rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1.18rem;
}

.products:hover {
  width: 14rem;
}

@media only screen and (max-width: 23.4375em) {
  .products:hover {
    width: 12rem;
  }
}

@media only screen and (max-width: 20em) {
  .products:hover {
    width: 12rem;
  }
}

@media only screen and (max-width: 48em) {
  .products {
    width: 10rem;
    height: 3.5rem;
    font-size: 1.07rem;
  }
}

@media only screen and (max-width: 31em) {
  .products {
    width: 13rem;
    height: 4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .products {
    width: 13rem;
    height: 4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .products {
    width: 12rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 20em) {
  .products {
    width: 12rem;
    height: 3.4rem;
    font-size: 1.2rem;
  }
}

.products:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product__image--1 {
  width: 22rem;
  margin-right: 13rem;
}

@media only screen and (max-width: 48em) {
  .product__image--1 {
    width: 18rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 31em) {
  .product__image--1 {
    width: 21rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .product__image--1 {
    width: 21rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .product__image--1 {
    width: 20rem;
    margin-right: 10rem;
  }
}

@media only screen and (max-width: 20em) {
  .product__image--1 {
    width: 18rem;
    margin-right: 1rem;
  }
}

.additional__text--1 {
  width: 9rem;
}

@media only screen and (max-width: 31em) {
  .additional__text--1 {
    position: absolute;
    top: 18%;
    left: 65%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .additional__text--1 {
    position: absolute;
    top: 16%;
    left: 65%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .additional__text--1 {
    position: absolute;
    top: 7%;
    left: 60%;
  }
}

@media only screen and (max-width: 20em) {
  .additional__text--1 {
    position: absolute;
    top: 7%;
    left: 60%;
  }
}

#scrollbar {
  display: none;
}

.fa-bars {
  font-size: 2rem;
  margin-left: 0.7rem;
}

.burger_icon {
  display: none;
}

@media only screen and (max-width: 31em) {
  .burger_icon {
    display: inline;
  }
}

@media only screen and (max-width: 26.5625em) {
  .burger_icon {
    display: inline;
  }
}

@media only screen and (max-width: 23.4375em) {
  .burger_icon {
    display: inline;
  }
}

@media only screen and (max-width: 20em) {
  .burger_icon {
    display: inline;
  }
}

#about {
  width: 100%;
  height: 140vh;
  background-color: #f6f6f6;
  padding: 7rem 14rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40rem 40rem;
      grid-template-rows: 40rem 40rem;
  -ms-grid-columns: 55rem 55rem;
      grid-template-columns: 55rem 55rem;
}

@media only screen and (max-width: 48em) {
  #about {
    padding: 7rem 0 0 2rem;
    -ms-grid-rows: 40rem 40rem;
        grid-template-rows: 40rem 40rem;
    -ms-grid-columns: 40rem 40rem;
        grid-template-columns: 40rem 40rem;
    height: 170vh;
  }
}

@media only screen and (max-width: 31em) {
  #about {
    padding: 7rem 0 0 1rem;
    -ms-grid-rows: 40rem 40rem 27rem 40rem;
        grid-template-rows: 40rem 40rem 27rem 40rem;
    -ms-grid-columns: 37rem;
        grid-template-columns: 37rem;
    height: 320vh;
  }
}

@media only screen and (max-width: 26.5625em) {
  #about {
    padding: 7rem 0 0 1rem;
    -ms-grid-rows: 33rem 40rem 28rem 40rem;
        grid-template-rows: 33rem 40rem 28rem 40rem;
    -ms-grid-columns: 37rem;
        grid-template-columns: 37rem;
    height: 310vh;
  }
}

@media only screen and (max-width: 23.4375em) {
  #about {
    padding: 7rem 0 0 1rem;
    -ms-grid-rows: 35rem 40rem 27rem 40rem;
        grid-template-rows: 35rem 40rem 27rem 40rem;
    -ms-grid-columns: 35rem;
        grid-template-columns: 35rem;
    height: 300vh;
  }
}

@media only screen and (max-width: 20em) {
  #about {
    padding: 6rem 0 0 1rem;
    -ms-grid-rows: 30rem 40rem 25rem 40rem;
        grid-template-rows: 30rem 40rem 25rem 40rem;
    -ms-grid-columns: 33rem;
        grid-template-columns: 33rem;
    height: 270vh;
  }
}

.section__contanier--1 {
  position: relative;
}

.section__contanier--2 {
  padding-top: 7rem;
}

@media only screen and (max-width: 31em) {
  .section__contanier--2 {
    padding: 1.5rem 0 0 9rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--2 {
    padding: 1.5rem 0 0 7.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--2 {
    padding: 1.5rem 0 0 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--2 {
    padding: 1.5rem 0 0 2.5rem;
  }
}

.section__contanier--3 {
  padding-top: 5rem;
  padding-left: 3rem;
}

@media only screen and (max-width: 31em) {
  .section__contanier--3 {
    padding: 1.5rem 0 0 9rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--3 {
    padding: 1.5rem 0 0 7.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--3 {
    padding: 0 0 0 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--3 {
    padding: 0 0 0 2.5rem;
  }
}

.section__contanier--4 {
  position: relative;
}

@media only screen and (max-width: 31em) {
  .section__contanier--4 {
    padding: 1.5rem 0 0 9rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--4 {
    padding: 1.5rem 0 0 7.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--4 {
    padding: 0 0 0 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--4 {
    padding: 0 0 0 2.5rem;
  }
}

.dualsperfume {
  width: 35rem;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 9;
}

@media only screen and (max-width: 48em) {
  .dualsperfume {
    width: 26rem;
    top: 15%;
    left: 0;
  }
}

@media only screen and (max-width: 31em) {
  .dualsperfume {
    width: 32rem;
    left: 14%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .dualsperfume {
    width: 30rem;
    left: 11%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .dualsperfume {
    width: 29rem;
    left: 7%;
  }
}

@media only screen and (max-width: 20em) {
  .dualsperfume {
    width: 26rem;
    left: 6%;
  }
}

.exotictext {
  width: 8.4rem;
  position: absolute;
  top: 16%;
  left: 50%;
}

@media only screen and (max-width: 48em) {
  .exotictext {
    width: 7.4rem;
    top: 7%;
  }
}

@media only screen and (max-width: 31em) {
  .exotictext {
    width: 8.3rem;
    left: 90%;
    top: 2%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .exotictext {
    width: 8.2rem;
    left: 80%;
    top: 2%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .exotictext {
    width: 8rem;
    left: 70%;
    top: 4%;
  }
}

@media only screen and (max-width: 20em) {
  .exotictext {
    width: 8rem;
    top: 4%;
    left: 60%;
  }
}

.section__contanier--2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  height: 5rem;
}

@media only screen and (max-width: 48em) {
  .section__contanier--2 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 31em) {
  .section__contanier--2 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--2 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--2 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--2 h1 {
    font-size: 2.4rem;
  }
}

.section__contanier--2 div {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  height: 14rem;
  width: 97%;
  padding-top: 1.3rem;
}

@media only screen and (max-width: 48em) {
  .section__contanier--2 div {
    font-size: 1.4rem;
    width: 37rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 31em) {
  .section__contanier--2 div {
    font-size: 1.5rem;
    height: 22rem;
    width: 37rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--2 div {
    font-size: 1.5rem;
    height: 22rem;
    width: 97%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--2 div {
    font-size: 1.5rem;
    height: 21rem;
    width: 97%;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--2 div {
    font-size: 1.4rem;
    width: 95%;
    height: 20rem;
  }
}

.touch {
  width: 14rem;
  height: 4rem;
  padding-left: 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #c7a92d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 48em) {
  .touch {
    width: 14rem;
  }
}

@media only screen and (max-width: 31em) {
  .touch {
    width: 14rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .touch {
    width: 14rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .touch {
    width: 14rem;
  }
}

@media only screen and (max-width: 20em) {
  .touch {
    width: 13rem;
  }
}

.touch:hover {
  width: 15rem;
  padding-left: 1.5rem;
}

.touch:active {
  background-color: rgba(199, 169, 45, 0.5);
}

.touch p {
  color: white;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

@media only screen and (max-width: 48em) {
  .touch p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 31em) {
  .touch p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .touch p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .touch p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 20em) {
  .touch p {
    font-size: 1.2rem;
  }
}

.right-arrow {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.section__contanier--3 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  height: 5rem;
}

@media only screen and (max-width: 48em) {
  .section__contanier--3 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 31em) {
  .section__contanier--3 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--3 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--3 h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--3 h1 {
    font-size: 2.4rem;
  }
}

.section__contanier--3 div {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  height: 14rem;
  padding-top: 1.3rem;
  width: 80%;
}

@media only screen and (max-width: 48em) {
  .section__contanier--3 div {
    width: 35rem;
  }
}

@media only screen and (max-width: 31em) {
  .section__contanier--3 div {
    font-size: 1.5rem;
    width: 37rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .section__contanier--3 div {
    font-size: 1.5rem;
    width: 95%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .section__contanier--3 div {
    font-size: 1.5rem;
    width: 98%;
  }
}

@media only screen and (max-width: 20em) {
  .section__contanier--3 div {
    font-size: 1.4rem;
    width: 95%;
  }
}

.shape {
  width: 53rem;
  height: 27rem;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 0 3.5rem 0 0;
}

@media only screen and (max-width: 48em) {
  .shape {
    width: 38rem;
  }
}

@media only screen and (max-width: 31em) {
  .shape {
    width: 38rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .shape {
    width: 33rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .shape {
    width: 33rem;
  }
}

@media only screen and (max-width: 20em) {
  .shape {
    width: 28rem;
    height: 25rem;
  }
}

.pricelessimage {
  width: 46rem;
  position: absolute;
  z-index: 10;
  top: 2%;
  left: 0;
}

@media only screen and (max-width: 48em) {
  .pricelessimage {
    width: 30rem;
    top: 26%;
  }
}

@media only screen and (max-width: 31em) {
  .pricelessimage {
    width: 37rem;
    top: 25%;
    left: 15%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .pricelessimage {
    width: 35rem;
    top: 25%;
    left: 8%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .pricelessimage {
    width: 34rem;
    top: 23%;
    left: 0;
  }
}

@media only screen and (max-width: 20em) {
  .pricelessimage {
    width: 30rem;
    top: 23%;
    left: 0;
  }
}

.bullet {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 65%;
}

@media only screen and (max-width: 48em) {
  .bullet {
    width: 4.5rem;
    top: 50%;
    left: 65%;
  }
}

@media only screen and (max-width: 31em) {
  .bullet {
    width: 4.5rem;
    left: 95%;
    top: 57%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .bullet {
    width: 4rem;
    left: 82%;
    top: 57%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .bullet {
    width: 4rem;
    left: 75%;
    top: 53%;
  }
}

@media only screen and (max-width: 20em) {
  .bullet {
    width: 3.5rem;
    left: 70%;
    top: 52%;
  }
}

.productss {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 48em) {
  .productss {
    height: 130vh;
  }
}

@media only screen and (max-width: 31em) {
  .productss {
    height: 130vh;
  }
}

@media only screen and (max-width: 26.5625em) {
  .productss {
    height: 120vh;
  }
}

@media only screen and (max-width: 23.4375em) {
  .productss {
    height: 130vh;
  }
}

@media only screen and (max-width: 20em) {
  .productss {
    height: 130vh;
  }
}

.productss__heading {
  height: 5rem;
  font-size: 3rem;
  text-align: center;
}

@media only screen and (max-width: 31em) {
  .productss__heading {
    font-size: 2.9rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .productss__heading {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .productss__heading {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .productss__heading {
    font-size: 2.4rem;
  }
}

.productss__description {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 auto;
  width: 36rem;
  height: 8rem;
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 31em) {
  .productss__description {
    font-size: 1.3rem;
    width: 36rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .productss__description {
    font-size: 1.3rem;
    width: 70%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .productss__description {
    font-size: 1.3rem;
    width: 80%;
  }
}

@media only screen and (max-width: 20em) {
  .productss__description {
    font-size: 1.2rem;
    width: 70%;
  }
}

.productss__contanier {
  width: 80%;
  height: 44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  padding: 0 5rem;
}

.product__card {
  width: 30rem;
  height: 40rem;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card--title {
  font-size: 1.4rem;
  font-weight: 600;
  height: 2.5rem;
}

.product__card--description {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 31em) {
  .product__card--description {
    text-align: center;
  }
}

@media only screen and (max-width: 26.5625em) {
  .product__card--description {
    text-align: center;
  }
}

@media only screen and (max-width: 23.4375em) {
  .product__card--description {
    text-align: center;
  }
}

@media only screen and (max-width: 20em) {
  .product__card--description {
    text-align: center;
  }
}

.product__card--price {
  font-size: 1.2rem;
  font-weight: 600;
}

.product-1 {
  width: 16rem;
}

@media only screen and (max-width: 31em) {
  .product-1 {
    width: 16rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .product-1 {
    width: 16rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .product-1 {
    width: 16rem;
  }
}

@media only screen and (max-width: 20em) {
  .product-1 {
    width: 16rem;
  }
}

.product-2 {
  width: 21.5rem;
}

@media only screen and (max-width: 31em) {
  .product-2 {
    width: 21.5rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .product-2 {
    width: 21.5rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .product-2 {
    width: 21.5rem;
  }
}

@media only screen and (max-width: 20em) {
  .product-2 {
    width: 21.5rem;
  }
}

.product-3 {
  width: 25rem;
}

@media only screen and (max-width: 31em) {
  .product-3 {
    width: 25rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .product-3 {
    width: 25rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .product-3 {
    width: 25rem;
  }
}

@media only screen and (max-width: 20em) {
  .product-3 {
    width: 25rem;
  }
}

#thirdcard {
  padding-top: 8.6rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 44rem;
  padding: 0 2rem;
}

.left-arrow2,
.right-arrow2 {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 31em) {
  .left-arrow2,
  .right-arrow2 {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .left-arrow2,
  .right-arrow2 {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .left-arrow2,
  .right-arrow2 {
    width: 2.7rem;
    height: 2.7rem;
  }
}

@media only screen and (max-width: 20em) {
  .left-arrow2,
  .right-arrow2 {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 31em) {
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 23.4375em) {
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 20em) {
  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */